$nowmalwidth:1190px;
$wrapwidth:100%;
#myCartWrap{
    width: 100%;
    height: auto;
    background: #fff;
    #myCart{
        width: 1090px;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
        .empty{
            font-size: 20px;
            color: fuchsia;
            width: 1090px;
            height: 40px;
            line-height: 40px;
        }
        h3{
            width: 1090px;
            height: 32px;
            font-size: 14px;
            color: #333;
            line-height: 32px;
            margin-top: 15px;
        }
        .cartTit{
            height: 32px;
            overflow: hidden;
            div{
                float: left;
                padding: 0 10px;
                height: 32px;
                font-size: 14px;
            }
            div:nth-child(1){
                width: 62px;
                padding: 0;
            } 
            div:nth-child(2){
                width: 62px;
                padding: 0;
            }
             div:nth-child(3){
                width:352px;
                text-align: right;
                padding-right: 50px;
            }
             div:nth-child(4){
                width: 130px;
            }
             div:nth-child(5){
                width: 151px;
                
            }
             div:nth-child(6){
                width: 108px;
                float: right;
            }
             div:nth-child(7){
                width: 87px;
                
            }
        }
        ul{
            .empty_cart{
                font-size: 18px;
                color: red;
                a{
                    color: green;
                    padding-left: 20px;
                    text-decoration: underline;
                }
            }
            li{
                background: #fffbf0;
                height: 80px;
                padding: 20px 0;
                border: 1px solid #ddd; 
                margin: 10px 0;
                .single{
                    float: left;
                    position: relative;
                    width:47px ;
                    height: 80px;
                    input{
                        position: absolute;
                        right: 10px;
                        top: 30px;
                        display: block;
                        width: 20px;
                        height: 20px;
                        border: 0;
                    }
                }
                .cartImg{
                    float: left;
                    background: red;
                    width: 80px;
                    height: 80px;
                    img{
                        width: 80px;
                        height: 80px;
                        display: block;
                        border: 0;
                    }
                }
                .cartInfo{
                    text-align: center;
                    width: 280px;
                    height: 58px;
                    float: left;
                    a:hover{
                        color: red;
                    }
                    p:hover{
                        color: red;
                    }
                   a{
                       display: block;
                       width: 260px;
                       font-size: 12px;
                       color: #111;
                   }
                   p{
                       padding-top: 5px;
                        width: 260px;
                        height: 22px;
                        font-size: 12px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                   }
                }
                .cartPrice{
                    text-align: center;
                    float: left;
                    width: 108px;
                    height: 65px;
                    padding-top: 15px;
                    div:nth-child(1){
                        text-decoration: line-through;
                    }
                    div{
                        text-align: center;
                        height: 20px;
                        line-height: 20px;
                    }
                }
                .cartCount{
                    text-align: center;
                    float: left;
                    width: 123px;
                    height: 65px;
                    padding-top: 15px;
                    span{
                        display: block;
                        width:87px;
                        height: 22px;
                        span{
                            cursor: pointer;
                            text-align: center;
                            display: block;
                            float: left;
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                            border: 1px solid #ccc;
                        }
                        strong{
                            border: 0;
                            display: block;
                            float: left;
                            text-align: center;
                            height: 20px;
                            width: 43px;
                            border-top: 1px solid #ccc;
                            border-bottom: 1px solid #ccc;
                        }
                    }
                }
                .allPrice{
                    float: left;
                    text-align: center;
                    width: 172px;
                    height: 60px;
                    font-size: 14px;
                    color: red;
                    padding-top: 20px;
                    font-size: 20px;
                }
                .cartDelete{
                    text-align: center;
                    float: right;
                    width: 150px;
                    height: 80px;
                    a{
                        text-align: center;
                        width: 120px;
                        display: block;
                        line-height: 30px;
                        cursor: pointer;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .titPrice{
            text-align: center;
            height: 40px;
            line-height: 40px;
            padding: 10px;
            position: relative;
            background-color: #f8f8f8;
            div{
                float: left;
            }
            input{
                display: inline-block;
                width: 15px;
                height: 15px;
                font-size: 12px;
                line-height: 15px;
            }
            .tot{
                text-align: right;
                float: left;
                width: 800px;
                height: 40px;
                font-size: 18px;
                color: orangered;
                line-height: 40px;
                padding-right:20 ;
            }
            .pay{
                float: right;
                text-align: center;
                cursor: pointer;
                margin-top: -10px;
                margin-right: -10px;
                line-height: 60px;
                font-size: 20px;
                background: red;
                color: #fff;
                height: 60px;
                width: 150px;
            }
        }
    }
}


/*footer*/
#footer{
    width: $wrapwidth;
    height: 240px;
    margin-top: 20px;
    overflow: hidden;
    padding-bottom: 9px;
    margin:  0 auto;
    background: #fff;
    .footer_top{
        width: 1190px;
        margin: 0 auto;
        height: 62px;
       p{
           width: $nowmalwidth;
            padding-bottom: 8px;
            line-height: 27px;
            height: 54px;
            border-bottom: 1px solid #ddd;
            span{
                &:hover a{
                    color: red;
                    
                }
                a{
                    font-size: 12px;
                }
                
            }
            b{
                margin: 0 3px;
                font-weight: 400;
                 color: #ddd;
             }
       }
    }
    .footer_mid{
        margin: 0 auto;
        width: $nowmalwidth;
        height: 81px;
        margin-top: 10px;
        overflow: hidden;
        p{
            height: 18px;
            margin-bottom: 8px;
            width: 1190px;
            text-align: center;
            font-size: 12px;
        }
    }
    .footer_btm{
        width: 1190px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 80px;
        span{
            float: left;
            display: block;
            margin: 0 4px;
            height: auto;
            width: auto;
            padding-left: 4px;
            a{
                height: 40px;
                margin-right: 15px;
                display: inline-block;
                background-repeat: no-repeat;
                vertical-align: middle;
                background: url("https://img.alicdn.com/tfs/TB1EPnIQXXXXXaSXpXXXXXXXXXX-1133-35.jpg") no-repeat;
            }
        }
    }
}
