$nowmalwidth:1190px;
$wrapwidth:100%;
#detail_wrap{
    width: 100%;
    height: 582px;
    background: #fff;
    #detail{
        width: 1140px;
        height: 582px;
        margin: 0 auto;
        overflow: hidden;
        h2{
            height: 24px;
            width: 1140px;
            padding: 15px 0;
            color: #333333;
            font-size: 18px;
            line-height: 24px;
        }
        #detailInfo{
            width: 700px;
            height: 400px;
            float: left;
            margin-left: 38px;
            .Info_tit{
                width: 500px;
                height: 110px;
                background: #FFF;
                font-size: 16px;
                padding: 20px 0;
                font-weight: 700;
                color: red;
            }
            .Info_price{
                width: 500px;
                height: 100px;
                background: #FFF2E8;
                p{
                    text-decoration: line-through;
                    height: 50px;
                    line-height: 50px;
                }
                p:nth-child(2){
                    text-decoration: none;
                    color: red;
                    font-size: 20px;
                }
            }
            .Info_buy{
                width: 490px;
                height: 150px;
                background: #FFF;
                padding-left: 10px;
                a{
                    display: block;
                    width: 136px;
                    height: 40px;
                    float: left;
                    color: red;
                    font-size: 14px;
                    text-align: center;
                    line-height: 40px;
                    border-radius:3px ;
                    background: #F0CAB6; 
                    margin-top: 80px;
                    cursor: pointer;
                }
                a:nth-child(2){
                    width: 182px;
                    height: 40px;
                    background: #F40;
                    color: #fff;
                    margin-left: 25px;
                }
            }
        }
    }
}
            
            
    /*footer*/
#footer{
    width: $wrapwidth;
    height: 240px;
    margin-top: 20px;
    overflow: hidden;
    padding-bottom: 9px;
    margin:  0 auto;
    background: #fff;
    .footer_top{
        width: 1190px;
        margin: 0 auto;
        height: 62px;
       p{
           width: $nowmalwidth;
            padding-bottom: 8px;
            line-height: 27px;
            height: 54px;
            border-bottom: 1px solid #ddd;
            span{
                &:hover a{
                    color: red;
                    
                }
                a{
                    font-size: 12px;
                }
                
            }
            b{
                margin: 0 3px;
                font-weight: 400;
                 color: #ddd;
             }
       }
    }
    .footer_mid{
        margin: 0 auto;
        width: $nowmalwidth;
        height: 81px;
        margin-top: 10px;
        overflow: hidden;
        p{
            height: 18px;
            margin-bottom: 8px;
            width: 1190px;
            text-align: center;
            font-size: 12px;
        }
    }
    .footer_btm{
        width: 1190px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 80px;
        span{
            float: left;
            display: block;
            margin: 0 4px;
            height: auto;
            width: auto;
            padding-left: 4px;
            a{
                height: 40px;
                margin-right: 15px;
                display: inline-block;
                background-repeat: no-repeat;
                vertical-align: middle;
                background: url("https://img.alicdn.com/tfs/TB1EPnIQXXXXXaSXpXXXXXXXXXX-1133-35.jpg") no-repeat;
            }
        }
    }
}
        
            
            
            
            
            