$wrapwidth:100%;
$nowmalwidth:1190px;
body,ul,li,p,form,ol,input,h1,h2,h3,h4,h5,h6,{
    padding: 0;
    margin: 0;
}
ul,ol,li{
    list-style: none;
}
body,html{
    background: #f4f4f4;
}
a{
    color: #333;
    text-decoration: none;
}
/*------topper------------*/
#topper_wrap{
    width: $wrapwidth;
    height: 35px;
    #topper{
        width: $nowmalwidth;
        height: 35px;
        margin: 0 auto;
        font-size: 12px;
        background: #f5f5f5;
        .topLeft{
            width: 292px;
            height: 35px;
            float: left;
            li{
                float: left;
                height: 35px;
                line-height: 35px;
            }
            li:nth-child(1){
                position: relative;
                width: 79px;
                height: 35px;
            }
            li:nth-child(2){
                .log_reg{
                    padding: 0 6px;
                    &:hover a{
                        color: red;
                    }
                    a:nth-child(1){
                        color: #f22e00!important;
                        margin-right: 5px;
                    }
                    a:nth-child(2){
                        margin-right: 5px;
                    }
                }
            }
            li:nth-child(3){
                &:hover a{
                    color: red;
                }
            }
            .city{
                z-index: 10002;
                width: 65px;
                padding: 0 6px;
                height: 35px;
                line-height: 35px;
                display: inline-block;
            }
            
            
            
            .cityList{
                position: absolute;
                top:100px;
                display: none;
                width: 300px;
                background: red;
                height: 100px;
//              overflow: hidden;
                overflow-y:auto ;
            }
        }
        .topRight{
            width: 583px;
            height: 35px;
            float: right;
            li{
                float: left;
                padding: 0 5px;
                line-height: 35px;
                i{
                    display: block;
                    float: left;
                    width: 16px;
                    height: 35px;
                    display: block;
                }
                span{
                    float: left;
                    display: block;
                    height: 35px;
                    line-height: 35px;
                }
                strong{
                    float: left;
                    display: block;
                    width: 17px;
                    height: 35px;
                }
            }
        }
    }
}
/*------header------------*/
#header_wrap{
    width: $wrapwidth;
    height: 121px;
    padding-top: 24px;
    background: #fff;
    #header{
        width: $nowmalwidth;
        height: 97px;
        margin: 0 auto;
        .headerLeft{
            width: 190px;
            height: 80px;
            float: left;
            margin-top: 8px;
            a{
                display: block;
                margin-left: 22px;
                padding-top: 58px;
                width: 142px;
                height: 0;
                overflow: hidden;
                text-indent: -9999px;
                background: url("//img.alicdn.com/tfs/TB1_uT8a5ERMeJjSspiXXbZLFXa-143-59.png") 0 0 no-repeat;
            }
        }
        .headerRight{
            margin-left: 258px;
            margin-right: 302px;
            .headerRt{
                width: 613px;
                height: 22px;
                margin-left: 17px;
                .headerRt_top{
                    float: left;
                    width: 32px;
                    height: 22px;
                    line-height: 22px;
                    background: red;
                    text-align: center;
                    border-radius: 3px;
                    margin-right: 6px;
                    a{
                        color: #fff;
                        font-size: 12px;
                        font-weight: 800;
                    }
                }
                .headerRt_topList{
                    float: left;
                    
                    li{
                        &:hover{
                            background: #ffeee5;
                        }
                        width: 40px;
                        margin-left: 4px;
                        float: left;
                        height: 22px;
                        text-align: center;
                        padding: 0 5px;
                        line-height: 22px;
                        
                        a{
                            color: red;
                            font-size: 12px;
                        }
                    }
                }
            }
            form{
                height: 42px;
                position: relative;
                #search{
                    padding: 6px 0;
                    text-indent: 10px;
                    height: 24px;
                    line-height: 24px;
                    width: 452px;
                    border: none;
                    outline: 0;
                    background: #FFF; 
                    color: #999;
                    float: left;
                    text-indent: 25px;
                    margin-left: 20px;
                    border-top: 2px solid #F22E00;
                    border-bottom: 2px solid #F22E00;
                }
                .searchBtn{
                    float: left;
                    width: 74px;
                    height: 40px;
                    border: 0;
                    font-size: 16px;
                    background: #FF4200;
                    color: #FFFFFF;
                    text-indent: 20px;
                }
                span:nth-of-type(2){
                    content: '';
                    position: absolute;
                    left: 546px;
                    top: 0;
                    height: 36px;
                    background: #FF4200;
                    border: 2px solid #ff5000;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    width: 20px;
                    border-left: none;
                }
                span:nth-of-type(1){
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 36px;
                    border: 2px solid #ff5000;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    width: 20px;
                    border-right: none;
                }
                
            }
            .headerRb{
                height: 18px;
                width: 630px;
                p{
                    height: 13px;
                    padding-bottom:5px ;
                    a{
                        padding: 0 2px;
                        color: #3c3c3c;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
/*----nav---*/
#nav_wrap{
    width: $wrapwidth;
    height: 30px;
    background: #ff9000;
    #nav{
        width: $nowmalwidth;
        height: 30px;
        margin: 0 auto;
        font-size: 14px;
        h2{
            float: left;
            width: 190px;
            height: 30px;
            line-height: 30px;
            text-align:center;
            background: #ff5000;
            color: #fff;
            font-size: 14px;
        }
        ul{
            float: left;
            li{
                line-height: 30px;
                color: #fff;
                float: left;
                padding: 0 5px;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
}
/*----banner----*/
#banner_wrap{
    width: $wrapwidth;
    #banner{
        width: $nowmalwidth;
        margin: 0 auto;
        position: relative;
        .bannerLeft{
            width: 900px;
            height: 632px;
            
            .proUl{
                position: absolute;
                left: 0;
                top: 0;
                z-index: 10000;
                border-left:1px solid #FF0000 ;
                border-right:1px solid #FF0000 ;
                border-bottom:1px solid #FF0000 ;
                li:nth-child(1) .proList{
                    top: 0;
                }
                li:nth-child(2) .proList{
                    top: -52px;
                }
                li:nth-child(3) .proList{
                    top: -104px;
                }
                li:nth-child(4) .proList{
                    top: -156px;
                }
                li:nth-child(5) .proList{
                    top: -208px;
                }
                li:nth-child(6) .proList{
                    top: -260px;
                }
                li:nth-child(7) .proList{
                    top: -312px;
                }
                li:nth-child(8) .proList{
                    top: -364px;
                }
                li:nth-child(9) .proList{
                    top: -416px;
                }
                li:nth-child(10) .proList{
                    top: -468px;
                }
                li:hover {
                    background: #ffe4dc;
                }
                li .proList{
                    display: none;
                }
                li:hover .proList{
                    display: block;
                }
                li{
                    margin: 0;
                    padding: 0;
                    background: #fff;
                    width: 140px;
                    height: 52px;
                    line-height: 39px;
                    padding-left: 20px;
                    position: relative;
                    cursor: pointer;
                    .font{
                        padding: 0;
                        margin: 0;
                        display: inline-block;
                        width: 20px;
                        height: 19px;
                    }
                    span{
                        display: inline-block;
                        width: 75px;
                        height: 19px;
                    }
                    strong{
                        display: inline-block;
                        width: 20px;
                        height: 19px;
                        font-weight: 100;
                    }
                    .proList{
                        position:absolute;
                        width:630px;
                        height:500px;
                        background:#fff;
                        padding-top:20px;
                        right: -633px;
                        top: -10000px;
                        border: 1px solid #FF0000;
                        .propice{
                            background:#fff;
                            width: 280px;
                            height: 120px ;
                            z-index:11111;
                            float: left;
                            h2{
                                width:280px;
                                height: 24px;
                                line-height: 24px;
                                font-size: 14px;
                                color: #000;
                                border-bottom: 1px solid #999;
                            }
                            div{
                                height: 140px ;
                                a:nth-child(4){
                                    color: red;
                                }
                                a:nth-child(1){
                                    color: red;
                                }
                                a{
                                    display:inline-block ;
                                    padding:0 5px ;
                                    font-size:12px ;
                                    line-height: 14px;
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
            .bannerMid{
                margin-left:170px ;
                width: 520px;
                height: 521px;
                .scrollImg{
                    
                    width: 520px;
                    height: 280px;
                    overflow: hidden;
                    position: relative;
                    .autoImg{
                        margin-top: 10px;
                        width: 2600px;
                        height: 280px;
                        position: absolute;
                        li{
                            position: relative;
                            width: 520px;
                            height: 280px;
                            float: left;
                            img{
                                display: block;
                                float: left;
                                width: 520px;
                                height: 280px;
                            }
                        }
                    }
                    .auIndex{
                        position: absolute;
                        left: 200px;
                        bottom: 20px;
                        width: 70px;
                        height: 13px;
                        li{
                            float: left;
                            margin: 3px;
                            width: 8px;
                            height: 8px;
                            background: #fff;
                            border-radius: 50%;
                        }
                        .current{
                            background: red;
                        }
                    }
                    .last{
                        width: 20px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        color: #fff;
                        display: none;
                        position: absolute;
                        left: 10px;
                        top: 110px;
                        background: #999999;
                    }
                    .next{
                        width: 20px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        color: #fff;
                        display: none;
                        position: absolute;
                        right: 10px;
                        top: 110px;
                        background: #999999;
                    }
                    &:hover .next{
                        display: block;
                    }
                    &:hover .last{
                        display: block;
                    }
                }
                
                
                
                
                
                .scrollImg1{
                    
                    width: 520px;
                    height: 230px;
                    overflow: hidden;
                    position: relative;
                    padding-top: 10px;
                    background: #fff;
                    .scrollPice{
                        width: 520px;
                        height: 22px;
                        padding-top: 11px;
                        border-bottom: 3px solid #ff1648;
                        .scrollImgIndex{
                            color: red;
                            float: right;
                            display: block;
                            line-height: 18px;
                        }
                        em{
                            color: red;
                            font-size: 14px;
                        }
                        strong{
                            font-size: 14px;
                            padding-left: 25px;
                            font-weight: 100;
                        }
                        span{
                            display: block;
                            line-height: 18px;
                            float: right;
                            margin-right: 20px;
                        }
                    }
                    .autoImg1{
                        width: 2600px;
                        height: 200px;
                        position: absolute;
                        li{
                            position: relative;
                            width: 520px;
                            height: 200px;
                            float: left;
                            img{
                                display: block;
                                float: left;
                                width: 520px;
                                height: 200px;
                            }
                        }
                    }
                    .auIndex1{
                        position: absolute;
                        left: 200px;
                        bottom: 20px;
                        width: 70px;
                        height: 13px;
                        li{
                            float: left;
                            margin: 3px;
                            width: 8px;
                            height: 8px;
                            background: #fff;
                            border-radius: 50%;
                        }
                        .current1{
                            background: red;
                        }
                    }
                    .last1{
                        width: 20px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        color: #fff;
                        display: none;
                        position: absolute;
                        left: 10px;
                        top: 110px;
                        background: #999999;
                    }
                    .next1{
                        width: 20px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        color: #fff;
                        display: none;
                        position: absolute;
                        right: 10px;
                        top: 110px;
                        background: #999999;
                    }
                    &:hover .next1{
                        display: block;
                    }
                    &:hover .last1{
                        display: block;
                    }
                }
                
                
                
                
                
            }
            .bannerImg{
                width: 160px;
                height: 521px;
                position: absolute;
                left: 720px;
                bottom: 100px;
                h3{
                    height: 30px;
                    width: 160px;
                    background:#f4f4f4 ;
                    p{
                        width: 160px;
                        height: 26px;
                        font-weight: 100;
                        font-size: 12px;
                        background:#f4f4f4;
                        line-height: 26px;
                        font-weight: 100;
                    }
                };
            }
            .toutiao{
                margin-top: 10px;
                background: #fff;
                padding:14px 14px 12px 20px; 
                height: auto;
                overflow: hidden;
                .toutiaoTit{
                    width: 180px;
                    height: 73px;
                    float: left;
                    background: url("//img.alicdn.com/tfs/TB1KbhkbUgQMeJjy0FeXXXOEVXa-129-26.png") 0 14px no-repeat;
                    p{
                        margin-top:42px ;
                        font-size: 14px;
                        font-weight: 100;
                        padding-top: 10px;
                    }
                }
                .autoToutiao{
                    float: left;
                    display: block;
                    width: 676px;
                    height: 73px;
                    img{
                        display: block;
                        width: 130px;
                        height: 73px;
                        float: left;
                    }
                    h4{
                        padding-left: 10px;
                        width: 536px;
                        font-style: normal;
                        height: 28px;
                        line-height: 28px;
                        margin-top: 2px;
                        float: left;
                        font-size: 16px;
                        font-weight: 100;
                        color: #333;
                    }
                    p{
                        padding-left: 10px;
                        color: #999;
                        width: 536px;
                        height: 36px;
                        float: left;
                        font-size: 14px;
                    }
                }
            }
        }  
        .bannerRight{
            position: absolute;
            right: 0;
            top: 10px;
            width: 290px;
            height: 622px;
            float: left;
           
            .userinfo{
                width:290px ;
                padding: 3px 0 10px 0;
                height: 132px;
                padding-right: inherit;
                text-align: center; 
                background: url('../images/bannerRight_bg.jpg') no-repeat;
                background-size: 290px;
                .userImg{
                    width: 74px;
                    height: 56px;
                    margin: 0 auto;
                    a{
                        display: inline-block;
                        border: 3px solid #fff;
                    }
                }
                p{
                    height: 17px;
                    line-height: 17px;
                    a{
                        font-size: 12px;
                        border-radius: 9px;
                        background-clip: padding-box;
                        background: #ffe4db;
                        padding: 0 10px 0 20px;
                        position: relative;
                        border: none; 
                        background: url("../images/userbg.jpg")no-repeat left -528px;
                        color:#ff5000!important ;
                    }
                    a:nth-child(2){
                       background: url("../images/userbg.jpg")no-repeat left -573px; 
                    }
                }
                .log_reg{
                    height: 40px;
                    overflow: hidden;
                    margin-top: 8px;
                    padding-left: 15px;
                    a{
                        width: 80px;
                        display: block;
                        float: left;
                        margin-right: 7px;
                        text-align: center;
                        background: #ff5000;
                        color: #fff;
                        border-radius: 4px;
                        background-clip: padding-box;
                        font-size: 14px;
                        font-weight: 700;
                    }
                    a:nth-child(3){
                        margin-right: 0;
                    }
                }
            }
            .userTit{
                position: relative;
                padding-left: 82px;
                display: block;
                height: 26px;
                line-height: 26px;
                background: #ffe4dd;
                font-size: 12px;
                a{
                   color: #f40;
                }
                span{
                    position: absolute;
                    right: 52px;
                    top: 9px;
                    line-height: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    margin-left: 32px;
                    border-width: 5px 0 5px 7px;
                    border-color: transparent transparent transparent #f40;
                }
            }
        }  
            
    }
}
