#proList1{
    width: 1190px;
    margin: 0 auto;
    height: auto;
    background: #fff;
    overflow: hidden;
    h2{
        height: 24px;
        font-size: 18px;
        color: #35B1FF;
        text-indent: 30px;
        width: 1190px;
        margin: 0 auto;
        background: red;
        margin: 10px 0;
        
    }
    ul{
        width: 1190px;
        height: auto;
        overflow: hidden;
        padding-top: 20px;
        li{
            float: left;
            width: 21%;
            height: 400px;
            margin: 5px 20px;
            border: 1px solid #ccc;
            cursor: pointer;
            .Pro_img{
                    display: block;
                    width: 100%;
                    height: 300px;
                    img{
                        display: block;
                        width: 100%;
                        height: 300px;
                    }
                }
                .Pro_tit{
                    display: block;
                    height: 40px;
                    line-height: 20px;
                    overflow: hidden;
                    margin: 8px 0;
                    color: #666;
                    font-size: 16px;
                }
                .Pro_price{
                    height: 22px;
                    line-height: 22px;
                    overflow: hidden;
                    a:nth-child(1){
                        float: left;
                        font-size: 22px;
                        margin-left: 2px;
                        color: #ff5000;
                        cursor: pointer;
                    }
                    a:nth-child(2){
                        float: left;
                        font-size: 16px;
                        margin-left: 2px;
                        color: #333;
                        border: 0;
                        text-decoration: line-through;
                        cursor: pointer;
                    }
                    a:nth-child(3){
                        float: right;
                        font-size: 16px;
                        margin-left: 2px;
                        color: #333;
                        text-decoration: overline;
                        cursor: pointer;
                    }
                }
        }
    }
}
