body{
    padding: 0;
    margin: 0;
}
#header_register{
    width: 100%;
    height: 44px;
    padding: 22px 0;
    .log_register{
        width: 1200px;
        height: 45px;
        margin: 0 auto;
        overflow: hidden;
    }
}
#box_register{
    position: relative;
    z-index: 9;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background: url("https://gtms01.alicdn.com/tps/i1/TB1GTCYLXXXXXcHXpXXcoeQ2VXX-2500-600.jpg") -550px;
    
    #content_register{
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        height: 600px;
        z-index: 999;
        #content_box{
            position: absolute;
            top: 120px;
            right: 60px;
            width: 350px;
            height: 301px;
            background: #fff;
            padding: 25px 25px 23px;
            color: #6c6c6c;
            background: #f4f4f4;
            margin: 0 auto;
            h2{
                height: 18px;
                line-height: 18px;
                font-size: 16px;
                color: #3c3c3c;
                margin-top: 9px;
                padding-bottom: 8px;
                font-weight: 700;
            }
            .form{
                .user_register{
                    margin-top: 20px;
                    position: relative;
                    label{
                        display: block;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        color: #fff;
                        background: #ddd;
                        text-align: center;
                        position: absolute;
                        left: 1px;
                        top: 1px;
                        outline: 0;
                    }
                    input{
                        width: 240px;
                        font-size: 14px;
                        line-height: 18px;
                        height: 18px;
                        padding: 11px 8px 11px 50px;
                        border: 1px solid #ddd;
                    }
                }
                .pwd_register{
                    margin-top: 20px;
                    position: relative;
                    label{
                        display: block;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        color: #fff;
                        background: #ddd;
                        text-align: center;
                        position: absolute;
                        left: 1px;
                        top: 1px;
                        outline: 0;
                    }
                    input{
                        width: 240px;
                        font-size: 14px;
                        line-height: 18px;
                        height: 18px;
                        padding: 11px 8px 11px 50px;
                        border: 1px solid #ddd;
                    }
                }
                .register_btn{
                    margin-top: 20px;
                    position: relative;
                    .register{
                        width: 300px;
                        height: 42px;
                        border: 0;
                        display: inline-block;
                        overflow: hidden;
                        vertical-align: middle;
                        line-height: 42px;
                        font-size: 16px;
                        font-weight: 700;
                        color: #fff;
                        background: #f40;
                        border-radius: 3px;
                        cursor: pointer;
                        zoom: 1;
                    }
                }
                .regChange{
                    margin-top: 25px;
                    overflow: hidden;
                    text-align: left;
                    a{
                        margin-right: 10px;
                        color: #6c6c6c;
                        font-size: 12px;
                        text-decoration: none;
                    }
                    a:nth-child(4){
                        color: red;
                    }
                }
            }
        }
    }
}
 